

body {
  color: white;
   font-family: "futura-100-greek", sans-serif;
  /* font-weight: 700; normal */
  background: var(--color-bg);
  width: 100vw;
  height: 100vh;
  padding: 50px;
}
/* Frame 82 */

button {
  all: unset; /* réinitialise toutes les propriétés héritables et non héritables */
  -webkit-appearance: none;
  appearance: none;
  
}

a {
  all: unset;
  -webkit-appearance: none;
  appearance: none;
      cursor: url('./public/img/icon/cursor-pointer.svg') 16 16, pointer;
;
}
/* Frame 78 */
.window {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: rgba(235, 115, 51, 0.01); */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-items: center;
    align-items: center;
  /* background: #170800; */
/* border: var(--border-size) solid #EB7333; */
box-shadow: 0px 4px 34px 1px rgba(0, 0, 0, 0.53), inset 0px 0px 186px -21px rgba(235, 115, 51, 0.2);
border-radius: 30px;
}
.contour-window {
    pointer-events: none;

overflow: hidden;
z-index: 4;
  /* background: #0400ff; */
  border: var(--border-size) solid #EB7333;
  border-radius: 30px;
  padding: 50px;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* background: #2e5cd6; */
  flex-shrink: 0;
  color: white;
  /* z-index: 1; */
/* opacity: 0; */
}
.chapitre-name{
  position: absolute;
  top: -22px;
}
.nav-chapitre{
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 8px;
    margin-top: 50px;

  
}
.langue-butt{
  opacity: 0;
}
#enter-site{
  scale: 3;
  top: 25%;
  opacity: 0;
}
.chapitre{
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtitle {
  font-size: 16px;
  margin-top: 6px;
  font-weight: normal;
}

h1 {
  font-family: var(--font-title);
  font-size: 64px;
  width: 500px;
  color: white;
  text-align: center;
  margin-top: 80px;
  font-weight: 100;
  text-transform: uppercase;
  opacity: 0;
}




.explication {
  font-family: var(--font-primary);
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 150px;
width: 500px;
  line-height: 1.5;
}


.illustration-container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  left: 50px;
  /* gap: 40px; */
}
.illustration{
  position: absolute;
  bottom: -12px;
}

.chapitre-list{
  display: flex;
  position: relative;
}

.grid-langage {
  z-index: 6;
  margin-top: 30px;
  text-transform: uppercase;
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 12px;
grid-row-gap: 12px;
}




.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
}


html {
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.Intro{
  /* height: 70%; */
  width: 1800px;
  position: absolute;
  top: -20%;
}

.selected-langue{
  position: absolute;
  bottom: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  font-family: var(--font-title);
  font-weight: 100;
  font-size: 32px
}

/* Styles pour les boutons de langue */


/* Animation du bouton d'interaction */
#enter-site {
  transition: all 0.3s ease-out;
}