

body.chapitre-list {
  /* layout horizontal: le body devient un container flex scrollable */
  display: flex;
  gap: 24px;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  color: white;
  font-family: var(--font-primary);
  /* font-weight: 400; */
  background: var(--color-bg);
  width: 100vw;
  height: 100vh;
  overflow-x: visible;
  /* au lieu de auto */
  overflow-y: auto;
  scroll-behavior: smooth;


}
.frame-texte h1{
  width: 500px;
}
/* Frame 82 */
#fin{
    display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
button {
  all: unset;
  /* réinitialise toutes les propriétés héritables et non héritables */
  -webkit-appearance: none;
  appearance: none;

}

a {
  all: unset;
  -webkit-appearance: none;
  appearance: none;
      cursor: url('../public/img/icon/cursor-pointer.svg') 16 16, pointer;
;
}



/* Frame 78 */
.window {
  /* box-shadow: inset 0px 0px 186px -21px rgba(235, 115, 51, 0.2); */

  position: fixed;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  /* background: rgba(235, 115, 51, 0.01); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.window * {
  pointer-events: auto;
}

.nav-chapitre-wrapper {
  position: relative;
  top: -23px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;


}

.nav-chapitre {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 50px;


}

.chapitre {
  display: flex;
  align-items: center;
  gap: 8px;
}


.subtitle {
  font-size: 16px;
  margin-top: 6px;
  font-weight: normal;
}

h1 {
  font-family: var(--font-title);
  font-size: 64px;
  color: var(--color-primary);
  text-align: center;
  margin-top: 20px;

}

.explication {
  font-family: var(--font-primary);
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 150px;
  width: 80%;
  line-height: 1.5;
}



.chapitre-list {
  position: relative;
  height: 100%;
}


.illustration-list {
  display: flex;
  padding: 50px;
  /* chaque fenêtre occupe la largeur visible moins les paddings du body (50px left + right) */

  height: 100vh;
  /* border: 3px solid var(--color-primary); */
  flex: 0 0 auto;

  background: var(--color-bg);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* assure que les éléments sont en ligne */
  flex-wrap: nowrap;
}


/* .illustration img */
.meandre-wrapper {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 5;
}

.meandre {
width: 400000px; 
 height: 50px;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 5;
  background-image: url("../../public/img/meandres.png");
  background-repeat: repeat-x;
  background-size: auto 50px;
  
  opacity: 0;
}

.text-overflow {
  overflow: hidden;
}

.fire,
.eclair,
.vague
.collonnes {
  will-change: transform;
  pointer-events: none;
}


.chapitre-title {
  font-family: var(--font-title);
  font-size: 96px;
  color: var(--color-primary);
  text-align: center;
  position: relative;
  z-index: 50;
    mix-blend-mode: difference;
overflow: hidden;

}
.chapitre-1 {
 
opacity: 0;
}
/* .chapitre-title {
 transform: translateY(210px);
  opacity: 1;

} */
.chapitre-1 span {
 transform: translateY(500px);
  opacity: 0;

}

.word-wrap {
  display: inline-block;
  overflow: hidden;
}

.word {
  display: inline-block;
  will-change: transform;
}

.chapitre-frame {
overflow: hidden;

  
  border: var(--border-size) solid #EB7333;
box-shadow: 0px 4px 34px 1px rgba(0, 0, 0, 0.53), inset 0px 0px 186px -21px rgba(235, 115, 51, 0.2);
  border-radius: 30px;
  padding: 50px;
  height: 100%;
  width: calc(100vw - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: #2e5cd6; */
  flex-shrink: 0;
  color: white;


}

.cronosTitan {
  position: absolute;
  right: -1px;
  /* bottom: -10px; */
  height: 100%;
}
.zeusTitan {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80%;
}

.frame-texte p {
  /* width: 40%; */
  width: 500px;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
}

/* .illustration-list .frame {
  padding: 50px;
  height: 100%;
width: 500px;  
display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -5px;
 
  flex-shrink: 0;
} */

body.scroll-blocked::after {
  content: "Cliquez sur l'icône pour continuer";
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(235, 115, 51, 0.9);
  color: #140100;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  animation: pulse 2s ease-in-out infinite;
  pointer-events: none;
}

.frame-space-medium {
  position: relative;
  width: 300px;
  height: 100%;
}

.frame-space-medium div {
  left: 450%;
}

.illustration {
  /* border: 4px solid var(--color-primary); */
  padding: 0 100px;
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  bottom: -5px;
  /* background: #2e5cd6; */
  flex-shrink: 0;
}

.illustration-fit {
  /* border: 4px solid var(--color-primary); */
  /* padding: 0 100px; */
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  bottom: -5px;
  /* background: #2e5cd6; */
  flex-shrink: 0;
  position: relative;
  left: -5px;
}
.illustration-large {
  /* border: 4px solid var(--color-primary); */
  /* padding: 0 100px; */
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  bottom: -5px;
  /* background: #2e5cd6; */
  flex-shrink: 0;
}


.text-end {
  padding: 50px;
  height: 100%;
  width: fit-content;
  display: flex;

  align-items: center;
  position: relative;
  bottom: -5px;
  /* background: #2e5cd6; */
  flex-shrink: 0;
  justify-content: end;
}

.small-frame {
  /* border: 4px solid var(--color-primary); */

  padding: 50px;
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  /* background: #2e5cd6; */
  flex-shrink: 0
}

.frame-space {
  position: relative;
  width: 1200px;
  height: 100%;
  /* border: 4px solid var(--color-primary); */
  display: flex;
  justify-content: center;
  align-items: center;

}

.right {
  left: 1000px;
}

.rightr {
  left: 1910px;
}

.rightr {
  left: 2820px;
}

.all-chapitre {
  display: flex;
  /* gap: 24px; */
  align-items: flex-start;


  color: white;
  /* font-family: "futura-100-greek-book", sans-serif; */
  background: var(--color-bg);
  width: fit-content;
  height: 100%;

  scroll-behavior: smooth;
}

.frame-texte {
  display: flex;
  width: fit-content;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  flex-shrink: 0; */
}

.tartare-frame {
  display: flex;
  background-color: var(--color-primary);
  height: 100%;
}

#tartare-door {
  /* position: relative; */
  left: -5px;
}


/* ===== STYLES MODAL ===== */



.text-modal {
    isolation: isolate;

  border: none;
  color: var(--color-primary);
  font-family: inherit;
  font-size: inherit;
      cursor: url('../../public/img/icon/cursor-pointer.svg') 16 16, grab;

  transition: all 0.3s ease;
  padding: 0 4px;
  position: relative;
    background: transparent;
/* 
  background: var(--color-bg);
  mix-blend-mode: difference; */
}
.fond-paralax{
  position: absolute;
}
.text-modal::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary);
    mix-blend-mode: difference;

  transition: width 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.text-modal:hover {
  color: #ff8f5c;
  text-decoration-color: #ff8f5c;
  transform: scale(1.05);
  /* text-shadow: 0 0 10px rgba(235, 115, 51, 0.5); */
}

.text-modal:hover::before {
  width: 100%;
}

.text-modal:active {
  transform: scale(0.95);
}

/* Animation d'apparition au survol */
@keyframes textGlow {

  0%,
  100% {
    text-shadow: 0 0 5px rgba(235, 115, 51, 0.3);
  }

  50% {
    text-shadow: 0 0 15px rgba(235, 115, 51, 0.8);
  }
}



/* 
.close-modal:hover {
  transform: rotate(90deg) scale(1.2);
}

.close-modal path {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease;
}

.close-modal:hover path {
  stroke: #ff8f5c;
  filter: drop-shadow(0 0 5px #ff8f5c);
} */


.bulle {

  position: absolute;
  /* flex-shrink: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
      font-size: 22px;

  
}

.bulle-gai-talk{
  top: 20%;
  right: 38%;
  z-index: 2;


}
.bulle-bebe-talk{
  top: 0%;
  right: 0%;
}
.bulle svg {
  position: relative;

}

.bulle p {
  position: absolute;
top: 30%;
  z-index: 1;
}

.chapitre-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -20%;
}

.hand {
  display: flex;
}
/* .rightHand {
  transform: translateY(500px);
}
.leftHand {
  transform: translateY(500px);
} */
.chapitre-img {
  transform: translateY(500px);
} 

.baby-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.baby-star img {
  position: absolute;
}



.zindex{
  position: relative;
  bottom: -2px;
  z-index: 2;
}
.zindex2{
  position: relative;
  /* bottom: -2px; */
  z-index: 3;
}

.star{
  scale: 0;
}

.next-frame{
  position: absolute;
right: 29px;
bottom: 89px;
}


.modal {

}



.gaia-talk-to-chronos{
  display: flex;
  gap: 300px;

  align-items: end;
  justify-items: center;
}

.text-parallax{
  position: absolute;
  z-index: 7;
}

.text-parallax p{
  z-index: 2;
}

.gaia-text-parallax{
  right:50%;
}


#gaia-bebe-interaction{
  /* top: 22%;
  right: 28%;

  transform: scale(3); */
  /* scale: ; */
}

.gaia-bebe-div{
  top: 20%;
  right: 28%;
position: absolute;
  transform: scale(1.7);
  /* scale: ; */
}
#gaia-interaction{
  top: 27%;
  right: 27%;
}

.gaia-talk-to-chronos{
  height: 100%;
}


.gaia-talk{
  height: 80%;
}

.cronos-agenouiller{
  height: 50%;
}

.CronosQuiMange{
  height: 90%;
}

.Rhea-donne-zeus-Amalthé{
  height: 70%;
}

.ZeusQuiLanceEclair {
position: relative;
top: -40%;
}

.eclair {
  position: absolute;
  top: -30%;
      left: 50%;

  /* left: 800%; */
}
.vague {
  position: absolute;
  right: 0;
  height: 110%;

}
.grotte-ilustration{
  width: 4000px;
}
.collonnes{
  position: absolute;
  left: -20%;
}
.grotte{
  position: absolute;
  height: 210%;
  left: 12%;
}
.Tartare{
  height: 110%;
}
.fire {
    position: absolute;
    bottom: -120%;
    left: 30%;
/* left:580%; */
}
#entre-fire-eclair{
  margin-left: 200px;
}
#poseidon-vague{
  width: 1600px;
      margin-left: 200px;
}

.poseidon{
  position: relative;
left: 40%;
}

.poseidon-text{
  left: 120%;

}

html {
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
/* .zone-foudre {
    width: 66vw;
  left: -36%;
  height: 100vw;
  background-color: #3392eb83;
  z-index: 4;
  position: absolute
}
.zone-water {
    width: 120vw;

  height: 100vw;
  background-color: #3392eb83;
  z-index: 4;
  position: absolute
}

.zone-chaine {
    width: 100%;
 
  height: 100vw;
  background-color: #3392eb83;
  z-index: 4;
  position: absolute
}


.zone-forgeron{
  width: 120vw;
  left: -26%;
  height: 100vw;
  background-color: #3392eb83;
  z-index: 4;
  position: absolute
} */